/* Legend */
.MuiChartsLegend-mark {
  clip-path: circle(50% at 50% 50%);
}

/* Pie chart */
.MuiPieArc-root.MuiPieArc-root {
  stroke-width: 0;
}

/* Tooltip */
.MuiChartsTooltip-root.MuiChartsTooltip-root {
  background-color: var(--color-backgroundPrimary);
  font-family: "Poppins", "Inter", "verdana", sans-serif;
  font-size: 12px;
  box-shadow: var(--shadow-md);
  border-radius: 6px;
}

.MuiChartsTooltip-labelCell.MuiChartsTooltip-labelCell {
  color: var(--color-onBackgroundHigh);
}

.MuiChartsTooltip-row .MuiChartsTooltip-valueCell.MuiChartsTooltip-valueCell {
  font-weight: 600;
  color: var(--color-onBackgroundMedium);
}

.MuiChartsTooltip-cell.MuiChartsTooltip-cell {
  padding-top: 6px;
  padding-bottom: 6px;
}

td:first-of-type.MuiChartsTooltip-cell.MuiChartsTooltip-cell {
  padding-left: 10px;
}

td:last-of-type.MuiChartsTooltip-cell.MuiChartsTooltip-cell {
  padding-right: 10px;
}

.MuiChartsTooltip-mark.MuiChartsTooltip-mark {
  border: none;
  height: 10px;
  width: 10px;
}