:root {
  /* Base Colors */
  --color-darkBlue: #050516;
  --color-volt: #D4FF00;
  --color-voltDark: #B8FF01;
  --color-azule: #0D75FD;
  --color-azuleDark: #0C31E2;
  --color-eerie: #1A1A1A;
  --color-eerieLight: #2A2A2A;
  --color-lobster: #FF422D;
  --color-lobsterDark: #FF1208;
  --color-tulip: #FF878D;
  --color-sand: #EDEDCE;
  --color-sandDark: #DCDCA6;
  --color-green: #22C55E;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #94969C;
}

.dark {
  --color-background: var(--color-darkBlue);
}

.light {
  --color-background: var(--color-white);
}
