:root {
  /* Base Colors */
  --color-darkBlue: #0C111D;
  --color-volt: #D4FF00;
  --color-voltDark: #B8FF01;
  --color-azule: #0D75FD;
  --color-azuleDark: #0C31E2;
  --color-lobster: #FF422D;
  --color-lobsterDark: #FF1208;
  --color-tulip: #FF878D;
  --color-tulipDark: #EC676E;
  --color-sand: #EDEDCE;
  --color-sandDark: #DCDCA6;
  --color-green: #22C55E;
  --color-greenDark: #118D57;
  --color-black: #000000;
  --color-white: #ffffff;

  /* Grays */
  --color-gray-1: #F5F5F6;
  --color-gray-2: #E6E6E6;
  --color-gray-3: #ECECED;
  --color-gray-4: #CECFD2;
  --color-gray-5: #94969C;
  --color-gray-6: #333741;
  --color-gray-7: #1F242F;
  --color-gray-8: var(--color-darkBlue);

  /* Shadows */
  --color-shadow-gray-1: rgba(245, 245, 246, 0.1);
  --color-shadow-gray-2: rgba(230, 230, 230, 0.1);
  --color-shadow-gray-3: rgba(236, 236, 237, 0.1);
  --color-shadow-gray-4: rgba(206, 207, 210, 0.1);
  --color-shadow-gray-5: rgba(148, 150, 156, 0.1);
  --color-shadow-gray-6: rgba(51, 55, 65, 0.1);
  --color-shadow-gray-7: rgba(31, 36, 47, 0.1);
  --color-shadow-gray-8: rgba(5, 5, 22, 0.1);
}

.dark {
  --color-background: var(--color-darkBlue);
  --color-background-primary: var(--color-darkBlue);
  --color-background-secondary: var(--color-gray-7);
  --color-background-tertiary: var(--color-gray-6);
  --color-body: var(--color-gray-1);
}

.light {
  --color-background: var(--color-gray-1);
  --color-background-primary: var(--color-gray-1);
  --color-background-secondary: var(--color-gray-2);
  --color-background-tertiary: var(--color-gray-3);
  --color-body: var(--color-gray-8);
}
