:root {
  /*  Note: These values serve as a reminder of what they are in the tailwind-classes.ts file.
      If you change any media query here, you should also change it in the tailwind-classes.ts file.

    break points
      mobile: 439px;
      tablet: 440px;
      desktop: 1024px;
      desktopLg: 1200px;
      desktopXl: 1600px;
  */

  /* Typography */
  --font-family: 'Poppins', 'Inter', 'Verdana', 'sans-serif';
  --heading-1-size: 34px;
  --heading-1-lineHeight: 44px;
  --heading-2-size: 33px;
  --heading-2-lineHeight: 42px;
  --heading-3-size: 28px;
  --heading-3-lineHeight: 36px;
  --heading-4-size: 23px;
  --heading-4-lineHeight: 30px;
  --heading-5-size: 18px;
  --heading-5-lineHeight: 25px;
  --heading-6-size: 18px;
  --heading-6-lineHeight: 25px;

  /* Base Colors */
  --color-darkBlue: #0C111D;
  --color-volt: #D4FF00;
  --color-voltDark: #B8FF01;
  --color-azule: #0D75FD;
  --color-azuleDark: #0C31E2;
  --color-lobster: #FF422D;
  --color-lobsterDark: #FF1208;
  --color-tulip: #FF878D;
  --color-tulipDark: #EC676E;
  --color-sand: #EDEDCE;
  --color-sandDark: #DCDCA6;
  --color-green: #22C55E;
  --color-greenDark: #118D57;
  --color-yellow: #CA8A04;
  --color-yellowDark: #b07A04;
  --color-black: #1A1A1A;
  --color-white: #F8F9FD;

  /* Grays */
  --color-gray-1: #F5F5F6;
  --rgb-gray-1: 245, 245, 246;
  --color-gray-2: #E6E6E6;
  --rgb-gray-2: 230, 230, 230;
  --color-gray-3: #ECECED;
  --rgb-gray-3: 236, 236, 237;
  --color-gray-4: #CECFD2;
  --rgb-gray-4: 206, 207, 210;
  --color-gray-5: #94969C;
  --rgb-gray-5: 148, 150, 156;
  --color-gray-6: #333741;
  --rgb-gray-6: 51, 55, 65;
  --color-gray-7: #1F242F;
  --rgb-gray-7: 31, 36, 47;
  --color-gray-8: var(--color-darkBlue);
  --rgb-gray-8: 5, 5, 22;

  /* Shadows */
  --color-shadow-gray-1: rgba(245, 245, 246, 0.01);
  --color-shadow-gray-2: rgba(230, 230, 230, 0.01);
  --color-shadow-gray-3: rgba(236, 236, 237, 0.01);
  --color-shadow-gray-4: rgba(206, 207, 210, 0.01);
  --color-shadow-gray-5: rgba(148, 150, 156, 0.01);
  --color-shadow-gray-6: rgba(51, 55, 65, 0.01);
  --color-shadow-gray-7: rgba(31, 36, 47, 0.01);
  --color-shadow-gray-8: rgba(5, 5, 22, 0.01);
  --color-shadow-xs: rgba(16, 24, 40, 0.05);
  --shadow-md: 0 0 6px 20px rgba(var(--rgb-gray-3), 0.01), -6px 6px 16px -8px rgba(var(--rgb-gray-3), 0.08);
  --shadow-below: 6px 6px 20px rgba(var(--rgb-gray-3), 0.01), -6px 6px 20px rgba(var(--rgb-gray-3), 0.08);

  /* Constant colors */
  --color-backgroundDark: var(--color-darkBlue);
  --color-backgroundLight: var(--color-gray-1);

  --color-onBackgroundDark: var(--color-gray-1);
  --color-onBackgroundLight: var(--color-gray-8);

  /* Opacity colors */
  --color-greenOpacity: rgba(34, 197, 94, 0.4);
  --color-redOpacity: rgba(255, 135, 141, 0.40);
  --color-warningOpacity: rgba(202, 138, 4, 0.3);
  --color-blueOpacity: rgba(13, 117, 253, 0.1);
  --color-grayOpacity: rgba(206, 207, 210, 0.1);
  --color-yellowOpacity: rgba(212, 255, 0, 0.1);
  --color-pinkOpacity: rgba(255, 135, 141, 0.1);
  --color-grayFiveOpacity: rgba(148, 150, 156, 0.3);

  /* States */
  --color-error: var(--color-lobster);
  --color-errorBg: rgba(255, 135, 141, 0.4);
  --color-warning: var(--color-yellow);
  --color-warningBg: rgba(202, 138, 4, 0.4);
  --color-success: var(--color-green);
  --color-successBg: rgba(34, 197, 94, 0.4);

  /* Darkmode === Default*/
  --color-background: var(--color-darkBlue);
  --color-backgroundPrimary: var(--color-darkBlue);
  --color-backgroundSecondary: var(--color-gray-7);
  --color-backgroundTertiary: var(--color-gray-6);

  --color-onBackground: var(--color-gray-1);
  --color-onBackgroundHigh: var(--color-gray-1);
  --color-onBackgroundMediumHigh: var(--color-gray-3);
  --color-onBackgroundMedium: var(--color-gray-4);
  --color-onBackgroundLow: var(--color-gray-5);

  --color-onMenu: var(--color-gray-1);
  --color-onMenuHigh: var(--color-gray-1);
  --color-onMenuMedium: var(--color-gray-4);
  --color-onMenuLow: var(--color-gray-5);

  --color-borderLow: var(--color-gray-7);
  --color-borderMedium: var(--color-gray-6);
  --color-borderHigh: var(--color-gray-5);

  --color-body: var(--color-gray-1);
}

.light {
  --color-background: var(--color-gray-1);
  --color-backgroundPrimary: var(--color-gray-1);
  --color-backgroundSecondary: var(--color-gray-2);
  --color-backgroundTertiary: var(--color-gray-3);

  --color-onBackground: var(--color-gray-8);
  --color-onBackgroundHigh: var(--color-gray-8);
  --color-onBackgroundMediumHigh: var(--color-gray-7);
  --color-onBackgroundMedium: var(--color-gray-6);
  --color-onBackgroundLow: var(--color-gray-5);

  --color-onMenu: var(--color-gray-8);
  --color-onMenuHigh: var(--color-gray-8);
  --color-onMenuMedium: var(--color-gray-6);
  --color-onMenuLow: var(--color-gray-5);

  --color-borderLow: var(--color-gray-4);
  --color-borderMedium: var(--color-gray-5);
  --color-borderHigh: var(--color-gray-6);

  --color-body: var(--color-gray-8);
}

/* Note: See Note at top of page about media query values */
/* Desktop */
@media (min-width: 1024px) {
  :root {
    --heading-1-size: 48px;
    --heading-1-lineHeight: 60px;
    --heading-2-size: 39px;
    --heading-2-lineHeight: 50px;
    --heading-3-size: 33px;
    --heading-3-lineHeight: 42px;
    --heading-4-size: 28px;
    --heading-4-lineHeight: 36px;
    --heading-5-size: 22px;
    --heading-5-lineHeight: 28px;
    --heading-6-size: 18px;
    --heading-6-lineHeight: 25px;
  }
}